<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Changelog | Kamontat APIs</title>
  <style>
    .changelog {
      margin-right: 18px;
      margin-left: 18px;

      font-size: 1.2rem;
    }

    h2,
    a {
      font-size: 2rem;
      color: #1c9bdd !important;
    }

    a:hover {
      color: red !important;
    }

    h3 {
      font-size: 1.7rem;
      color: cadetblue;
    }

    li {
      color: gray;
    }

    li strong {
      color: black;
    }
  </style>
</head>

<body>
  <div class="changelog">
    {{ markdowntext |safe }}
  </div>
</body>

</html>